.button{
    padding: 0.375em 0.75em;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0.25rem;
    border-radius: 10%;
    border: 1px solid transparent;
    line-height: 1.5em;
    
    &:hover{
        opacity: 0.85;
        cursor: pointer;
    }
}

.btn-primary {
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
.btn-secondary {
    color: white;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}
.btn-light {
    color: #4F4F4F;
    border-color: #4F4F4F;;
    background-color: white;
}
.btn-primary-reverse {
    background-color: white;
    color: var(--primary-color);
    border-color: white;
    background-color: white;
}
