.label{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 0.75rem 0;
    width: 100%;
    height: 4.75rem;
    background-color: #F2F2F2;
    

}
.label-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.75rem;
    gap: 0.5rem;
    padding: 0px;
    
    .label-title--text{
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #141F34;
       
    }
    .label-title--icon-pen{
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0.4;
        position: relative;
        &:hover{
            opacity:1;
            
            &:after{
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                background-color: black;
                bottom: -50%;

            }
        }
    }
    .label-title--icon-x{
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0.4;
        &:hover{
            opacity:1
            
        }
    }
}

.label-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.5rem;
    height: 2rem;
    .label-action-radio{
        gap: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        input{
            width: 1rem;
            height: 1rem;
            font-size: 10rem;
        }
        span{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
            /* identical to box height, or 143% */

            display: flex;
            align-items: center;
            letter-spacing: 0.005em;

            /* Black */

            color: #131313;
        }
    }
}

.object{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.75rem 0.75rem 0;
    background: #EFF3FB;
    width:100%;
    gap: 4px;
}
.object--active{
    border: 2px solid #0052CC;
}
.object-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .object-title--text{
        // width: 100%;
        // flex-grow: 1;
        height: 1.125rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #141F34;
    }
    .object-title--icon-x{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i{
            margin: auto;
            font-size: 1.25rem;;
        }
    }
}
.object-select{
    background-color: white;
    width: 100%;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    
    select{
        outline: none;
        border: none;
        background-color: white;
        margin:auto;
        width: 100%;

        // width: 148px;
        // height: 20px;

        /* Label 14/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        color: #131313;
        option:first {
            color: #999;
            opacity: .5;
        }
        option{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
            display: flex;
            align-items: center;
            letter-spacing: 0.005em;
            color: #131313;
        }
    }
}
.object-action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.25rem;
    gap: 23px;
    align-self: stretch;
    .object-action-radio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        height: 1.25rem;
        width: 100%;
        input{}
        span{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
            display: flex;
            align-items: center;
            letter-spacing: 0.005em;
            color: #131313;
        }
    }
}