.svg{
    // color: red;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    polygon{
        fill:red;
        stroke:purple;
        stroke-width:1;
        opacity:0.2;
    }
    rect{
        fill:blue;
        stroke:purple;
        stroke-width:1;
        opacity:0.2;
    }
    .polygon--active{
        opacity: .5;
        // fill:blue;
    }
    .rect--active{
        opacity: .5;
        // fill:blue;
    }
}
.container{
    position: relative;
    img{
        &:before{
            content: "";
            text-align: center;
            text-justify: center;
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            margin: auto;
            background-color: gray;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        &::content{
            margin:auto;
            font-size: 200px;
        }
    }
}

.draw-polygon{
    // color: blue;
    // background-color: blue;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:0;
    content:"";   
    opacity: 0.4;
}

.moveable-points{
    content:"";
    width: 10px;
    height: 10px;
    color: black;
    background-color: black;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}