.header{
    display:flex;
    width: 100vw;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    // align-self: stretch;
}